*.bak
*.dcu
*.ppu
*.o
*.obj
*.compiled
*.rsj
*lib/
*backup/
*/*/lib/
*/*/backup/
/testing/
*.key
*.crt
*.dbg
*.log
*.dll
*.exe
*.lps
*.sh
!/openssl/certgen.sh
*.db
*.sqbpro
*.gz
*.zip
*.7z
testing.md
tgbotapiserver
link*.res
ppas.bat
